:root {
    --main-color: #0065FC;
    --secondary-color: #DEEBFF;
    --bg-color: #D9D9D9;
    --main-bg-color: #F2F2F2;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

p,
a,
button,
input {
    font-size: 16px;
    font-weight: 400;
}

h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

/*    ---   header   ---   */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    height: 20px;
    width: 60px;
}

nav {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    width: 50vw;
    text-align: center;
    padding: 33px 23px;
    color: #000;
    border-bottom: var(--bg-color) 2px solid;
}

nav a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) 2px solid;
}

/*    ---   section search & filter   ---   */

#search-filter {
    margin: 30px 20px;
}

#search-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

#filter-container>button:hover {
    background-color: var(--secondary-color);
}

#location {
    background-color: var(--bg-color);
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
}

#search-input {
    border: solid 1px var(--bg-color);
    width: 230px;
    height: 50px;
}

#search-input::placeholder {
    color: #000;
    font-weight: 700;
    padding-left: 16px;
}

#search {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
}

#search-alt {
    background-color: var(--main-color);
    width: 132px;
    height: 50px;
    border-radius: 0px 15px 15px 0px;
    color: var(--main-bg-color);
    font-weight: 700;
    display: none;
}


#filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#filter-container button {
    border-radius: 25px;
    border: solid 2px var(--bg-color);
    margin-top: 15px;
    padding-inline: 10px;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 11px;
    font-weight: 700;
}

#search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#search-info img {
    border: 1px solid var(--bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    width: 4px;
    height: 12px;
    padding: 6px 10px;
}

/*    ---   section accommodation   ---   */

#accommodation {
    display: flex;
    flex-wrap: wrap-reverse;
}

#all-accommodation {
    background-color: #FFFFFF;
    padding: 20px;
}

#all-accommodation>a {
    display: none;
}

#all-accommodation h2 {
    margin-top: 26px;
    margin-bottom: 19px;
}

.card-all-accommodation {
    width: 335px;
    height: 199px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

/*
.card-all-accommodation>img {
    width: calc(100% - 10px);
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card-all-accommodation>div {
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
*/
.card-all-accommodation>div:first-child {
    width: calc(100% - 10px);
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.card-all-accommodation>div>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-all-accommodation>div:last-child {
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

/*    ---   section most popular   ---   */

#most-popular {
    background-color: var(--main-bg-color);
    padding: 20px;
}

#most-popular :first-child {
    display: flex;
    justify-content: space-between;
    /*align-items: center;
    margin-bottom: 26px;
    margin-top: 8px;*/
}

#card-container-most-popular {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    gap: 23px;
}

.card-most-popular {
    width: 334px;
    height: 144px;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 10%);
}

/*
.card-most-popular>img {
    width: 137px;
    height: calc(100% - 10px);
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}
*/
.card-most-popular h3 {
    margin-top: 16px;
}

.card-most-popular p {
    margin-top: 7px;
}

/*
.card-most-popular>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 16px;
    margin-right: 13px;
    margin-bottom: 12px;
}
*/
.card-most-popular>div>div {
    display: flex;
}

.card-most-popular>div>div:first-child {
    flex-direction: column;
}

.card-most-popular>div>div img {
    width: 12px;
    height: 12px;
}

.card-most-popular>div:first-child {
    width: 137px;
    height: calc(100% - 10px);
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.card-most-popular>div>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-most-popular>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 16px;
    margin-right: 13px;
    margin-bottom: 12px;
    width: 60%;
}


/*    ---   section activity  ---   */

#activity {
    margin-top: 50px;
    padding: 20px;
    height: auto;
}

#activity h2 {
    margin-bottom: 24px;
}

#activity>div {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
}

#activity>div>div>div>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#activity>div h3 {
    padding: 19px 21px 68px 20px;
}

.card-activity {
    width: 334px;
    height: 190px;
    border-radius: 20px;
    margin-bottom: 24px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-activity>div {
    height: 134px;
    width: 100%;
}

/*    ---   section footer  ---   */

footer {
    background-color: var(--main-bg-color);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}


footer>div>h3 {
    margin-bottom: 20px;
}

footer>div>div {
    height: 81px;
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

/*    ---   media queries  ---   */

@media (min-width: 768px) {

    body {
        padding-inline: 72px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        justify-content: flex-end;
    }

    nav a {
        border-top: var(--bg-color) 2px solid;
        border-bottom: none;
        width: 10vw;
    }

    nav a:hover {
        color: var(--main-color);
        border-top: var(--main-color) 2px solid;
        border-bottom: none;
    }

    #search {
        display: none;
    }

    #search-alt {
        display: inline-block;
    }


    #search-filter>h1 {
        margin-bottom: 13px;
    }

    #search-container {
        justify-content: flex-start;
    }

    #filter-container button {
        padding-inline: 20px;
        width: auto;
        font-size: 17px;
    }


    #accommodation {
        flex-wrap: wrap;
    }

    #all-accommodation {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        width: 100%;
        padding-inline: 40px;
    }

    #all-accommodation>a {
        display: inline-block;
        margin-top: 40px;
        font-weight: 700;
    }


    .card-all-accommodation {
        width: 246px;
    }

    #card-container-all-accommodation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 31px;
    }

    #most-popular {
        border-radius: 20px;
        margin-top: 53px;
    }

    #card-container-most-popular {
        gap: 23px;
    }

    .card-most-popular {
        width: 252px;
    }

    .card-most-popular>div:last-child {
        margin-top: 0;
    }

    #activity {
        padding: 0;
    }

    #activity>div {
        gap: 30px;
    }

    .card-activity {
        width: 182px;
        height: 267px;
    }

    .card-activity>div {
        height: 211px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

}

@media (min-width: 992px) {

    body {
        padding-inline: 50px;
    }

    #all-accommodation {
        width: 55%;
    }

    #most-popular {
        width: 25%;
        margin-top: 0;
        margin-left: 40px;
    }

    .card-most-popular {
        width: 100%;
    }

    #activity>div {
        gap: 43px;
        justify-content: space-between;
    }


    .card-activity {
        width: 302px;
        height: 444px;
    }

    .card-activity>div {
        height: 389px;
    }

    footer {
        justify-content: space-around;
    }

}